<footer class="charcoal-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <a href="http://labor-party.com/">
                    <img src="img/logos/labor-party-sm.png" alt="The Labor Party"/>
                </a>
                <a href="http://devict.org">
                    <img src="img/logos/devict-sm.png" alt="devICT"/>
                </a>
                <a href="http://www.wichitacf.org/">
                    <img src="img/logos/wichita-community-foundation-sm.png" alt="Wichita Community Foundation" />
                </a>
                <a href="http://wichitachamber.org/">
                    <img src="img/logos/wichita-chamber-of-commerce-sm.png" alt="Wichita Chamber of Commerce" />
                </a>
                <a class="git-msg" href="https://github.com/devict/startupwichita.com">
                    <img src="img/logos/git-involved-sm.png" alt="Git Involved on Github" />
                </a>
            </div>
        </div>
    </div>
</footer>
