<div class="" data-ng-controller="HeaderController">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid logoTop" id="logoTop">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4"><a href="/#!/"><img class="img-responsive center-block" src="/img/tophandlogo-02.png"/></a></div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4"><a href="/#!/" id="logoBottom"><img class="img-responsive center-block" src="/img/bottomlogo-01.png" alt="Startup Wichita - Crafted in the Midwest"/></a></div>
        </div>
    </div>

    <div id="stickyBar" class="navbar masthead" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs hidden-sm" href="#"><img src="/img/bottomlogo-01.png" class="img-responsive center-block" alt="Startup Wichita - Crafted in the Midwest" /></a>
            </div>
            <div class="navbar-collapse robotoSlab" collapse="isCollapsed">
                <ul class="nav navbar-nav row">
                    <li class="col-sm-2"><a href="/#!/users">people</a><div class="nav-icon ico-people"></div></li>
                    <li class="col-sm-2"><a href="/#!/news">news</a><div class="nav-icon ico-news"></div></li>
                    <li class="col-sm-2"><a href="/#!/events">events</a><div class="nav-icon ico-events"></div></li>
                    <li class="col-sm-2"><a href="/#!/resources">resources</a><div class="nav-icon ico-resources"></div></li>
                    <!-- Show these two if they're logged out -->
                    <li class="col-sm-2" data-ng-hide="global.authenticated"><a href="/#!/signup">sign up</a></li>
                    <li class="col-sm-2" data-ng-hide="global.authenticated"><a href="/#!/signin">sign in</a></li>
                    <!-- Show these two if they're logged in -->
                    <li class="col-sm-2" data-ng-show="global.authenticated"><a href="/#!/users/{{ global.user._id }}/edit">profile</a></li>
                    <li class="col-sm-2" data-ng-show="global.authenticated"><a href="/signout">sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
