<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Hey <%= @user.name %>!</p>

      <p>
          Because of a recent upgrade to the StartupWichita website, user
          passwords needed to be reset.  In order to help with this, we
          assigned you a generated password.  Please <a
              href="http://startupwichita.com/users/sign_in">login in</a> and
          change your password to something of your choosing.
      </p>

      <p>
          Your randomly assigned password is <%= @password %>
      </p>

      <p>
          Thank you and our apologies for any inconvenience.
      </p>
  </body>
</html>
