<section data-ng-controller="UsersController" data-ng-init="findOne()">
  <div class="row topic-form">
    <h1 class="robotoSlab">Edit Profile</h1>
    <form class="form-horizontal col-md-offset-3 col-md-6" role="form" data-ng-submit="update()">
        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input data-ng-model="user.name" id="name" cols="30" rows="10" class="form-control" required>
            </div>
        </div>
        <div class="form-group" ng-show="user.email">
            <label for="email" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input data-ng-model="user.email" id="email" cols="30" rows="10" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="tagline" class="col-md-2 control-label">Tagline</label>
            <div class="col-md-10">
                <input data-ng-model="user.tagline" id="tagline" cols="30" rows="10" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="bio" class="col-md-2 control-label">Bio</label>
            <div class="col-md-10">
                <textarea data-ng-model="user.bio" id="bio" cols="30" rows="10" class="form-control" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        </div>
    </form>
</section>
