<section data-ng-controller="UsersController" data-ng-init="find()">
  <form class="form-inline util-bar" role="form">
    <!--<div class="form-group">-->
      <!--<label class="sr-only" for="searchPeople">Search:</label>-->
      <!--<input type="text" class="form-control" id="searchPeople" placeholder="Search People">-->
    <!--</div>-->
  </form>
  <ul class="people list-unstyled">
    <li data-ng-repeat="user in users">
      <img class="peopleWrapper" ng-src="{{ gravatar.buildGravatarUrl(user.emailHash, '292') }}" alt="{{ user.name }}" />
      <h2 class="robotoSlab"><a>{{ user.name }}</a></h2>
      <p class="catchphrase">{{ user.tagline }}</p>
      <p>{{ user.bio }}</p>
    </li>
  </ul>
</section>
