<section data-ng-controller="UsersController" data-ng-init="find()">
  <form class="form-inline util-bar" role="form">
  </form>
  <ul class="people list-unstyled">
    <li data-ng-repeat="user in users">
      <img class="peopleWrapper" ng-src="{{ gravatar.buildGravatarUrl(user.emailHash, '292') }}" alt="{{ user.name }}" />
      <h2 class="robotoSlab">
        <a href="/#!/users/{{user._id}}">{{ user.name }}</a>
      </h2>
      <p class="catchphrase">{{ user.tagline }}</p>
      <p>{{ user.bio }}</p>
    </li>
  </ul>
  <div class="alternate">
    <p data-ng-hide="!users || users.length" class="row">
      No users yet. Why don't you <a href="/#!/signup">sign up</a>?
    </p>
  </div>
</section>
