<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <form class="form-inline util-bar" role="form">
        <div data-ng-show="global.user._id == user._id">
            <a class="btn pull-right" href="/#!/users/{{user._id}}/edit">
                Edit <i class="glyphicon glyphicon-edit"></i>
            </a>
        </div>
    </form>
    <div class="row userProfile">
        <div class="col-md-4 userCard">
            <img class="gravatar img-rounded" ng-src="{{ gravatar.buildGravatarUrl(user.emailHash, '111') }}" alt="{{ user.name }}" />
            <h2 class="robotoSlab">{{ user.name }}</h2>
            <p class="catchphrase">{{ user.tagline }}</p>
        </div>
        <div class="col-md-8 userBio h3">{{user.bio}}</div>
    </div>
</section>
