<section data-ng-controller="EventsController" data-ng-init="find()">
    <form class="form-inline util-bar" role="form">
        <a class="btn pull-right" href="/#!/events/create">Add Event <i class="glyphicon glyphicon-plus"></i></a>
    </form>
    <ul class="events unstyled">
        <li data-ng-repeat="event in events">
            <h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
            <div>{{article.content}}</div>
        </li>
    </ul>
    <h1 data-ng-hide="!events || events.length">No events yet. <br> Why don't you <a href="/#!/events/create">Create One</a>?</h1>
</section>
