 <div class="resource-item font-reset">
    <%= link_to company_path(company), class: 'text-center head' do %>
        <h2 class="title"><%= company.name %></h2>
    <% end %>
    <div class="body clearfix">
        <div class="description">
            <p><%= company.description %></p>
        </div>
    </div>
</div>
