<div>You can mention people who have profiles by using the @ and then starting to type their name.</div>

<div>You can format with the following examples:<br>
## Headline<br>
*italics* or **bold**<br>
[Link text](link URL)<br>
!(image URL)[alt text]<br>
You can also insert most html. For more detailed instructions look at <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">this cheat sheet</a>.
</div>
