<% unless events.blank? %>

    <% events.in_groups_of(2).each do |events| %>
      <div class="row">
        <% events.each do |event| %>
          <div class="col-md-6">
            <%= render partial: "shared/event", locals: { event: event } if event %>
          </div>
        <% end %>
    </div>
   <% end %>

<% else %>
  <p class="row">
      No events yet. Why don't you <%= link_to "add some", new_event_path %>?
  </p>
<% end %>
