<section>
    <% content_for :utility_bar do %>
        <%= link_to new_event_path, :class => "btn pull-right" do %>
            Add Event <i class="glyphicon glyphicon-plus"></i>
        <% end %>
    <% end %>

    <div role="tabpanel">

        <ul class="nav nav-tabs event-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">Upcoming</a></li>
            <li role="presentation"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="upcoming">
                <%= render partial: 'list', locals: { events: @upcoming } %>
            </div>
            <div role="tabpanel" class="tab-pane" id="recent">
                <%= render partial: 'list', locals: { events: @recent } %>
            </div>
        </div>

    </div>
</section>
