<section>
    <% content_for :utility_bar do %>
        <div class="util-head">
            <div class="container">
                <%= link_to new_event_path, :class => "btn" do %>
                    <span class="glyphicon glyphicon-plus"></span> Add Event
                <% end %>
                <ul class="list-unstyled" role="tablist">
                    <li role="presentation" class="active"><a class="btn" href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">Upcoming</a></li>
                    <li role="presentation"><a class="btn" href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a></li>
                </ul>
            </div>
        </div>
    <% end %>

    <div class="container">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="upcoming">
                <%= render partial: 'list', locals: { events: @upcoming } %>
            </div>
            <div role="tabpanel" class="tab-pane" id="recent">
                <%= render partial: 'list', locals: { events: @recent } %>
            </div>
        </div>
    </div>
</section>
