<% content_for :title, 'News' %>

<% content_for :utility_bar do %>
    <div class="util-head">
        <div class="container">
            <%= link_to new_news_path, :class => "btn" do %>
                <span class="glyphicon glyphicon-plus"></span> Add News
            <% end %>
        </div>
    </div>
<% end %>
<section class="section">
    <div class="container">
        <% unless @news.blank? %>
            <% @news.in_groups_of(2).each do |news| %>
                <div class="row">
                    <% news.each do |newsItem| %>
                        <div class="col-md-6">
                           <%= render partial: "shared/news", locals: { newsItem: newsItem } if newsItem %>
                        </div>
                    <% end %>
                </div>
             <% end %>
        <% else %>
            <div class="alternate">
                <p>
                    No news yet. Why don't you <%= link_to "add some", new_news_path %>?
                </p>
            </div>
        <% end %>
    </div>
</section>
