    <section class="section bg-cream">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">
            <div class="jumbotron bg-cream charcoal">
                <h2 class="text-center">Bringing connections and collisions to the entrepreneur, startup, and tech communities in Wichita, Kansas.</h2>
            </div>
        </div>
    </section>

    <!-- Events section -->
    <section class="section bg-grey">
        <h2 class="section-title">Events</h2>
        <% unless @featuredEvents.blank? || @featuredEvents.size < 2 %>
            <div class="container">
                <div class="row inline">
                    <% @featuredEvents[0..5].each do |event| %>
                        <div class="col-md-6 inline-block">
                            <%= render partial: "shared/event", locals: { event: event } %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </section>

    <!-- News section -->
    <section class="section bg-charcoal">
        <h2 class="section-title">News</h2>
        <% unless @newsItems.blank? %>
            <div class="container">
                <div class="row inline">
                    <% @newsItems[0..3].each do |newsItem| %>
                        <div class="col-md-6 inline-block">
                            <%= render partial: "shared/news", locals: { newsItem: newsItem } %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </section>

    <!-- People section -->
    <section class="section bg-grey">
        <h2 class="section-title">People</h2>
        <% unless @people.blank? %>
            <div class="container">
                <div class="row inline">
                    <% @people.each do |person| %>
                        <div class="col-sm-6 col-md-4 inline-block">
                          <%= render partial: "shared/profile", locals: { person: person, featured: true, preview: true } %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </section>

    <!-- Resources section -->
    <section class="section bg-charcoal">
        <h2 class="section-title">Resources</h2>
        <% unless @resources.blank? %>
           <div class="container">
                <div class="row inline">
                    <% @resources[0..3].each do |resource| %>
                        <div class="col-md-6 inline-block">
                            <%= render partial: "shared/resource", locals: { resource: resource } %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </section>
