<section>
  <form class="form-inline util-bar" role="form">
    <div class="form-group">
      <label class="sr-only" for="searchPeople">Search:</label>
      <input type="text" class="form-control" id="searchPeople" placeholder="Search People">
    </div>
      <button class="btn btn-default pull-right">Add Person</button>
  </form>
	<ul class="people list-unstyled">
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Seth Etter</a></h2>
      <p class="workplace">Balanced Comp</p>
      <p class="catchphrase">Loves his javascript!</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Kenton Hansen</a></h2>
      <p class="workplace">The Labor Party, Startup Wichita</p>
      <p class=catchphrase">Loves his javascript!</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Shelton Koskie</a></h2>
      <p class="workplace">Eighty Grit</p>
      <p class=catchphrase">Shelton loves him some php.</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Jacob Walker</a></h2>
      <p class="workplace">Time IPS</p>
      <p class=catchphrase">RUBY. RUBY. RUBY. RUBY. RUBY.</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Seth Etter</a></h2>
      <p class="workplace">Balanced Comp</p>
      <p class="catchphrase">Loves his javascript!</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Kenton Hansen</a></h2>
      <p class="workplace">The Labor Party, Startup Wichita</p>
      <p class=catchphrase">Loves his javascript!</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Shelton Koskie</a></h2>
      <p class="workplace">Eighty Grit</p>
      <p class=catchphrase">Shelton loves him some php.</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Jacob Walker</a></h2>
      <p class="workplace">Time IPS</p>
      <p class=catchphrase">RUBY. RUBY. RUBY. RUBY. RUBY.</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Seth Etter</a></h2>
      <p class="workplace">Balanced Comp</p>
      <p class="catchphrase">Loves his javascript!</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Kenton Hansen</a></h2>
      <p class="workplace">The Labor Party, Startup Wichita</p>
      <p class=catchphrase">Loves his javascript!</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Shelton Koskie</a></h2>
      <p class="workplace">Eighty Grit</p>
      <p class=catchphrase">Shelton loves him some php.</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
		<li>
      <img src="http://www.gravatar.com/avatar/d5c10b3aeb0655d09ea9052ccf44a69e.jpg?s=292&r=g" alt="Seth Etter Photo" class="peopleWrapper">
      <h2 class="robotoSlab"><a>Jacob Walker</a></h2>
      <p class="workplace">Time IPS</p>
      <p class=catchphrase">RUBY. RUBY. RUBY. RUBY. RUBY.</p>
      <p>Bacon ipsum dolor sit amet bresaola tri-tip ham shoulder ribeye biltong. Pork loin pig hamburger venison ground round biltong landjaeger ham hock flank kielbasa. Strip steak corned beef landjaeger.</p>
		</li>
	</ul>
</section>
