/*
 Orange: #EF592B;
 Other Orange: #EF6032;
 Salmon: #ff7449;
 Graphite: #271816;
 Gray: #281816;

 Cream: #F7E4C1;
 Lighter Cream: #fff8e8;
*/
.people{
  clear:both;
  background: red;
}
.people li:nth-child(odd) {
  text-align:left;
}
.people li:nth-child(even) {
  text-align:right;
}
.people li:nth-child(4n+1) {
  background: #EF592B;
  color: #F7E4C1;
}
.people li:nth-child(4n+2) {
  background: #EF6032;
  color: #F7E4C1;
}
.people li:nth-child(4n+3) {
  background: #fff8e8;
  color: #271816;
}
.people li:nth-child(4n+4) {
  background: #F7E4C1;
  color: #271816;
}
.people li:nth-child(4n+3) a, ul.people li:nth-child(4n+4) a{
  color: #271816;
}
.people li:nth-child(4n+3) a:hover, ul.people li:nth-child(4n+4) a:hover {
  color: #2a6496;
}
.people li{
  width:50%;
  float:left;
  max-height: 17em;
  display: block;
}
.peopleWrapper{
  max-height: 17em;
}
.people li:nth-child(odd) .peopleWrapper{
  float:left;
  margin-right: 1em;
}
.people li:nth-child(even) .peopleWrapper{
  float:right;
  margin-left: 1em;
}
.catchphrase{
  font-weight:lighter;
  font-size:2em;
}

.userProfile {
  background-color: #EF6032;
  color: #fff8e8;
}

.userProfile .userCard {
  text-align: center;
  padding-top: 3em;
  background-color: #EF592B;
  height: 100%;
}

.userProfile .userCard .gravatar {
  width: 111px;
  border-radius: 100%;
}

.userProfile .userBio {
  padding: 3em 4em 2em 4em;
}

@media (max-width: 990px) {
  .userProfile .userBio {
    padding: 0.2em 1em;
  }
}
