/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
*
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datetimepicker
 *= require jquery.atwho
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "news";
@import "events";
@import "resources";
@import "pages";
@import "people";
@import "scaffolds";

.font-heading { font-family: $font-heading; }
.font-body { font-family: $font-body; }

html {
    font-size: 1em;
}
body {
    height: 100%;
    margin:0;
    padding:0;
    font-size: 1em;
    background-color: $grey;
    color: #fff;
    font-family: $font-body;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-heading;
}

p {
    margin-bottom: 1rem;
}

a {
    color: $charcoal;
}
a:hover{
    text-decoration:none;
    background: none;
    color: $orange;
}
a:visited {
    color: $dark-cream;
}

.form-control {
  font-size: 1rem;
}

textarea.tall{
  height: 200px;
}

.tags a {
    display: inline-block;
    padding: 2px 6px;
    background-color: $dark-cream;
    border-radius: $border-radius;
    color: $grey;
    margin: 0.25rem 0;
    font-family: $font-heading;
    font-weight: 200;
    font-size: .8em;
}
.tags a:hover {
    background-color: $orange;
    color: $white;
}

.alert {
    margin-bottom: 0;
}
.alert-success {
    background: $green;
    color: $white;
    border-radius: 0;
    border: none;
}
.alert-danger {
    background: $orange;
    color: $white;
    border-radius: 0;
    border: none;
}

.ico-people{
    background: url(asset-path("icon_People.png")) 50% 50% no-repeat;
}

.ico-news{
    background: url(asset-path("icon_News.png")) 50% 50% no-repeat;
}

.ico-events{
    background: url(asset-path("icon_Events.png")) 50% 50% no-repeat;
}

.ico-resources{
    background: url(asset-path("icon_Resources.png")) 50% 50% no-repeat;
}

.row.inline {
  font-size: 0;
}
[class^=col-].inline-block {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.font-reset {
  font-size: 1rem;
}

.section {
    padding: 3rem 0 3rem 0;
}
.section-title {
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    color: $cream;
    vertical-align: middle;
    text-transform: uppercase;
    &:before {
        content: '\25C6';
        font-size: 1rem;
        vertical-align: middle;
        position: relative;
        top: -.5rem;
        right: .5rem;
        color: $white;
    }
    &:after {
        content: '\25C6';
        font-size: 1rem;
        vertical-align: middle;
        position: relative;
        top: -.5rem;
        left: .5rem;
        color: $white;
    }
}

.form-control,
.ui-select-multiple,
.select2-choices {
    background-image: none;
    box-sizing: border-box;
    border-radius: $border-radius;
    background: $cream !important;
    border: none;
    box-shadow: none;
    color: $charcoal;
}
.date-select {
    display: inline-block;
    width: 18%;
}
.input-group {
    .select2-choices  {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}
.input-group-addon {
    background: $dark-cream;
    color: $charcoal;
}

.select2-container { border: none; }

.ui-select-choices.dropdown-menu { background-color: #f8e4c5; }
.ui-select-match-item { background-color: #f8e4c5 !important; font-size: 1em !important; }
.ui-select-match-item .close { font-size: 1em; }

.form-control::-moz-placeholder {
  color: $grey;
}
.form-control:-ms-input-placeholder {
  color: $grey;
}
.form-control::-webkit-input-placeholder {
  color: $grey;
}
label {
    font-weight: 500;
    color: $grey;
}
button,
input[type="submit"] {
    border-radius: $border-radius;
}
button.border-top-radius-none,
input[type="submit"].border-top-radius-none {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.cream { color: $cream; }
.white { color: $white; }
.grey { color: $grey; }
.dark-grey { color: $dark-grey; }
.charcoal { color: $charcoal; }
.orange { color: $orange; }

.bg-cream { background-color: $cream; }
.bg-dark-cream { background-color: $dark-cream; }
.bg-charcoal { background-color: $charcoal; }
.bg-grey { background-color: $grey; }
.bg-orange { background-color: $orange; }

.border-top { border-top: 1px solid $border-color }
.border-right { border-right: 1px solid $border-color }
.border-bottom { border-bottom: 1px solid $border-color }
.border-left { border-left: 1px solid $border-color }

.navbar-brand {
    margin: 0 auto;
    float: none;
    height: auto;
    img {
      max-width: 200px;
      @media only screen and (min-width: 360px) {
        max-width: none;
      }
    }
}
.navbar-toggle {
  margin-right: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-collapse {
    box-shadow:none;
}
.masthead {
    background-color: #281816;
    border-radius: 0;
}

.navigation-wrapper {
    position: relative;
    top: -32px;
}

.navbar {
    margin-bottom:0;
    border-width:0 0 1px
}

.navbar-nav {
    max-width:860px;
    margin:0 auto;
    font-size:1.2em;
    padding-bottom: 15px;
    @media only screen and (min-width: 768px) {
      padding: 0;
    }
}

.nav-icon {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 100% 50%;
    transition: all .2s ease-in;
    z-index: 9;
    @media only screen and (min-width: 768px) {
      background-position: 50% 50%;
    }
}

.navbar a:hover + .nav-icon{
  @media only screen and (min-width: 768px) {
    top: -42px;
  }
}
.nav > li {
    padding: 0;
}
.nav > li > a {
    z-index: 10;
    @media only screen and (min-width: 768px) {
      background: #281816;
      text-align: center;
    }
}

.nav {
  position: relative;
}

.nav li {
}

.nav > li > a:hover,
.nav > li > a:focus {
    color: #ef592b;
    background: transparent;
    @media only screen and (min-width: 768px) {
      background: #281816;
    }
}

.nav>li>a>img.img-responsive{
    max-width:100%;
}

.logos a {
  display: inline-block;
  padding: 0 1em;
  margin-bottom: 1rem;
  vertical-align: middle;
}
.logos a img {
    display: block;
    max-height: 64px;
    max-width: 230px;
}

#logoBottom {
    display: inline-block;
    padding:12px 0 0 0;
    display: block;
}
#logo {
  display: none;
  background-color: $charcoal;
  text-align: center;
}
#logoTop {
  display: inline-block;
  padding-top:10px;
}
.icon-bar {
    background:#f8e4c5;
}

.foot {
    padding-top: 40px;
    padding-bottom: 40px;
    left:0px;
    bottom:0px;
    position:relative;
    background: $orange;
}

.arrow-down {
    position:absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.arrow-down.orange {
    border-top: 26px solid $orange;
}
.arrow-down.cream {
    border-top: 26px solid $cream;
}
.arrow-down.left {
    left:8px;
}
.arrow-down.right {
    right:8px;
}
.news .arrow-down {
    top:-2px;
}


/* Flexible iFrame */
.Flexible-map{
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
}

.Flexible-map iframe,
.Flexible-map object,
.Flexible-map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sm-collapse{
    display:none;
}

@media (min-width: 768px){

    .navbar-header{
        float:none;
    }

    .navbar-nav {
        float:none;
    }

    .navbar-collapse{
        padding-left:0;
        padding-right:0;
    }

    .navbar-right{
        float:none;
        position:absolute;
        right: 2%;
        top: 2%;
    }

    #logo{
        display: block;
    }

    .arrow-down {
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }
    .arrow-down.orange{
        border-top: 52px solid #ef592b;
    }
    .arrow-down.cream{
        border-top: 52px solid #f8e4c5;
    }
    .news .arrow-down{
        top:-2px;
    }
    .arrow-down.left{
        left:10%;
    }
    .arrow-down.right{
        right:10%;
    }

    .resource-wrapper{
        margin: 0 20px;
    }

    .sm-collapse{
        display:block;
    }

}


@media (min-width: 991px){

    .Flexible-map{
        padding-bottom: 22%;
    }

}

div.row.signup {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background: #281816;
  color: #ef592b;
}

.dropdown-menu>li>a {
    color: #281816;
}

.dropdown-menu { background-color: #ef592b; }

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
   color: #f8e4c5;
   background-color: #ef592b;
}

.util-head {
  border-bottom: 1px solid $grey;
  background: $dark-cream;
  color: $charcoal;
}
.util-head .btn {
    color: $charcoal;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0;
    border-color: $grey;
    border-bottom-color: transparent;
    border-top-color: transparent;
    float: left;
    margin-right: -1px;
}
.util-head .btn[aria-expanded="true"] {
  background: $cream;
  border-bottom: 1px solid $cream;
  position: relative;
  bottom: -1px;
}
.util-head .active .btn {
    position: relative;
    bottom: 0px;
    background: $cream;
}
.util-head ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  li {
    display: inline-block;
    float: left;
  }
}
.util-body {
  background: $cream;
  color: $dark-grey;
}

.form-control,
.ui-select-multiple,
.select2-choices {
    background-image: none;
    box-sizing: border-box;
    border-radius: $border-radius;
    background: $cream;
    border: none;
    box-shadow: none;
    color: $charcoal;
}

.select2-container { border: none; }

.ui-select-choices.dropdown-menu { background-color: #f8e4c5; }
.ui-select-match-item { background-color: #f8e4c5 !important; font-size: 1em !important; }
.ui-select-match-item .close { font-size: 1em; }

.git-msg img{ max-width: 90%; }

.devise_links {
    li {
        display: inline-block;

        a {
            color: #000;
        }
    }
}

.modal-body:not(.two-col) { padding:0px }
.glyphicon { margin-right:5px; }
.glyphicon-new-window { margin-left:5px; }
.modal-body .radio,.modal-body .checkbox {margin-top: 0px;margin-bottom: 0px;}
.modal-body .list-group {margin-bottom: 0;}
.margin-bottom-none { margin-bottom: 0; }
.modal-body .radio label,.modal-body .checkbox label { display:block; }
.modal-footer {margin-top: 0px;}
@media screen and (max-width: 325px){
    .btn-close {
        margin-top: 5px;
        width: 100%;
    }
    .btn-results {
        margin-top: 5px;
        width: 100%;
    }
    .btn-vote{
        margin-top: 5px;
        width: 100%;
    }

}
.modal-footer .btn+.btn {
    margin-left: 0px;
}
.progress {
    margin-right: 10px;
}
