// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
// body
// {
//   font-family: 'Lato', 'sans-serif';
// }
.profile {
  border-radius: 4px;
  border-radius: $border-radius;
  margin-bottom: 30px;
  background: $cream;
  color: $dark-grey;
}
.profile figure {
  display: inline-block;
  width: 50%;
  max-width: 152px;
  position: relative;
  border-radius: 50%;
  border: 4px solid $charcoal;
  padding: 2px;
}
.profile .head {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  background: $dark-cream;
  padding: 1em;
}
.profile .title {
  color: $charcoal;
  font-weight: 200;
  margin-top: .5rem;
  font-size: 1.25rem;
}
.profile .head {
  a, a:visited{
    color: $charcoal;
  }
}
.profile {
  a, a:visited{
    color: #a3917e;
  }
}
.profile .bio {
  max-height: 7.5em;
  overflow: hidden;
  margin: 1rem 0;
  padding: 0 1rem;
}

.meta {
  position: relative;
  border-top: 1px solid $dark-cream;
  padding: 1rem;
}
.meta-title {
  position: absolute;
  top: -.6em;
  left: 1em;
  margin: 0;
  font-size: .8em;
  font-style: italic;
  color: $grey;
  padding: 0 .5em;
  background: $cream;
}

.short .bio-box{
  max-height: 130px;
  overflow: hidden;
}

.divider
{
  border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis
{
  border-top: 4px solid transparent;
}
.emphasis:hover
{
  border-top: 4px solid #ffffff;
}
.emphasis h2
{
  margin-bottom:0;
}
.dropdown-menu
{
  background-color: #34495e;
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 250px;
  margin-left: -125px;
  left: 50%;
}
.dropdown-menu .divider
{
  background:none;
}
.dropdown-menu>li>a
{
  color:#f5f5f5;
}
.dropup .dropdown-menu
{
  margin-bottom:10px;
}
.dropup .dropdown-menu:before
{
  content: "";
  border-top: 10px solid #34495e;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff6c6;
  border: 1px solid #fff393;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  background-image: none;
}
.well a{
  color: #333;
}
.btn-add-yourself{
  background-color: #EF592B;
  a{
    color: white;
  }
}
