// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resource-item {
  border-radius: 4px;
  border-radius: $border-radius;
  margin-bottom: 30px;
  background: $cream;
  color: $dark-grey;
}
.resource-item figure {
  display: inline-block;
  width: 50%;
  position: relative;
  border-radius: 50%;
  border: 4px solid $charcoal;
  padding: 2px;
}
.resource-item .head {
  display: block;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  background: $dark-cream;
  padding: 1em;
}
.resource-item .title {
  color: $charcoal;
  font-weight: 200;
  margin-top: .5rem;
  font-size: 1.25rem;
}
.resource-item .head {
  a, a:visited{
    color: $charcoal;
  }
}
.resource-item {
  a, a:visited{
    color: #a3917e;
  }
}
.resource-item .description {
  margin: 1rem 0;
  padding: 0 1rem;
}