$white: #fff;
$off-white: #f8e4c5;
$cream: #eae1d2;
$dark-cream: #e1d4c1;
$grey :#a3917e;
$dark-grey: #737373;
$charcoal: #281816;
$orange: #EF592B;

$font-body: 'Open Sans', sans-serif;
$font-heading: 'Roboto Slab', serif;

$border-radius: 4px;
$border-color: $dark-cream;