<section data-ng-controller="NewsController" data-ng-init="findOne()" class="alternate">
  <form class="form-inline util-bar" role="form">
    <a class="btn pull-right" href="/#!/news/create">
      Add News <i class="glyphicon glyphicon-plus"></i>
    </a>
    <div data-ng-show="global.user._id == newsItem.author._id || global.admin">
      <a class="btn pull-right" confirmed-click="remove(newsItem);" ng-confirm-click="Are you sure you want to delete this news item?">
        Remove <i class="glyphicon glyphicon-trash"></i>
      </a>
      <a class="btn pull-right" href="/#!/news/{{newsItem._id}}/edit">
        Edit <i class="glyphicon glyphicon-edit"></i>
      </a>
    </div>
    <div data-ng-show="global.admin">
      <a class="btn pull-right" confirmed-click="spam(newsItem);" ng-confirm-click="Are you sure you want to flag this news item as spam?">
        Flag as Spam <i class="glyphicon glyphicon-flag"></i>
      </a>
    </div>
  </form>
  <div class="row">
    <div data-ng-include="'views/partials/errors.html'"></div>
    <h2 class="robotoSlab">{{newsItem.title}}</h2>
    <span>Posted by: {{newsItem.author.name}}</span> on
    <span>{{newsItem.created_at | date:'medium'}}</span>
    <p ng-show="newsItem.url"><a href="{{newsItem.url}}">{{newsItem.url}}</a></p>
  </div>
  <div class="row">
    <p>{{newsItem.content}}</p>
  </div>
  <div data-ng-include="'views/partials/tags.html'" onload="tags=newsItem.tags"></div>
  <div data-ng-include="'views/partials/disqus.html'"></div>
</section>
